body {
	position: relative;
	font-family: $font-light !important;
	padding-bottom: 100px;
	margin: 0;
    overflow-x: hidden;
    padding-right: 0 !important;
}

.layout {
	&.container {
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		padding: 0 18px;
		box-sizing: border-box;
        position: relative;

		@media (min-width: $tabletS-min) {
		    padding: 0 25px;
        }
        
		@media (min-width: $tablet-min) {
			max-width: $container-tablet;
			margin: 0 auto;
			padding: 0;
		}

		@media (min-width: $desktop-min) {
			max-width: $container-desktop;
			padding: 0;
		}

		@media (min-width: $desktopHd-min) {
			max-width: $container-desktopHd;
			padding: 0;
		}
	}
}

.image {
	opacity: 0;
	transition: opacity 1.0s;
}

.image-loaded {
	opacity: 1;
}

.headroom-wrapper {
	div {
		z-index: 1000 !important;
	}
}

.waiting {
	@include transition(transform 1s ease-in-out);
	@include transform(translateY(50px))
}

.animated-element {
	transform: translate(0) !important;
}



