// classes to extend (@extend)

.app-btn {
    border: 1px solid #f79431;
    border-radius: 5px;
    padding: 0.6rem 3rem;
    
    background: #f79431;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}

.inner-image {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
}

.bootstrap-row-resets {
    margin: 0;
    padding: 0;
}

.title-container {
    width: 100%;
    background-color: $white-color;
    text-align: center;
    color: $green-color;
    padding: 1em 1em;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}