html {
    // all app font styles goes here
    h5 {
        font-size: 1em;

        @media( min-width: $tablet-min ) {
            font-size: 1.25rem; 
         }
        @media( min-width: $desktop-min ) {
           font-size: 1.25rem; 
        }
    }

    .sell-btn-font {
        font-size: 1rem;

        @media( min-width: $tabletS-min ) {
            font-size: 1.2rem;
        }

        @media( min-width: $tablet-min ) {
            font-size: 1.2rem;
        }

        @media( min-width: $desktop-min ) {
            font-size: 1.2rem;
        }
    }

    .Hero-container {
        .hero-statistics {
            font-size: 2rem;

            @media(min-width: $tablet-min ) {
                font-size: 5rem;
            }

            @media(min-width: $desktop-min ) {
                font-size: 5rem;
            }
        }
    }

    .testimonials-container {
        .inner {
            p {
                font-size: 1rem;

                @media( min-width: $tablet-min ) {
                    font-size: 1.2rem;
                }

                @media( min-width: $desktop-min ) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .text-container {
        h5 {
            font-size: 1.2rem;

            @media( min-width: $tablet-min ) {
                font-size: 2.5rem;
            }

            @media( min-width: $desktop-min ) {
                font-size: 2.5rem;
            }
        }

        .start-btn {
            font-size: 1rem;

            @media( min-width: $tablet-min ) {
                font-size: 1.8rem;
            }

            @media( min-width: $desktop-min ) {
                font-size: 1.8rem;
            }
        }
    }
}