// fonts
$font-light: Flama light;
$font-book: Flama book;
$font-basic: Flama basic;
$font-medium: Flama medium;
$nova-flat: Nova flat;

// colors
$green-color: #0b857a;
$light-orange: #f79431;
$dark-orange: #ce7115;
$light-gray: #edf2f5;
$white-color: #fff;

//rgba(s)
$black-overlay: rgba(0, 0, 0, 0.8);

// grid
$desktopHd-min: 1440px;
$container-desktopHd: 1240px;
$desktop-min: 1024px;
$container-desktop: 960px;
$tablet-min: 768px;
$container-tablet: 688px;
$tabletS-min: 480px;
$mobile-min: 320px;

$logo-desktop-width: 150px;
$logo-desktop-height: 80px;
$logo-mobile-width: 70px;
$logo-mobile-height: 60px; 
