// footer styles 
.Main-footer {
    display: flex;
    @include flexjustifycontent(center);
    @include flexalignitems(center);
    @include flexdirection(row);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    text-align: center;
    color: $white-color;
    background-color: $green-color;

    h5 {
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0;
    }
}