.Main-header {
    position: relative;
    background-color: $light-gray;
    padding: 0.5rem 1rem;
    flex-wrap: initial;

    
    .navbar-collapse {
        // @include flexjustifycontent(flex-end);
        // position: absolute;
        padding: 0;
        right: 1rem;
        flex-basis: initial;
        flex-grow: initial;
    }

    .navbar-brand {
        display: block;
        position: relative;
        width: $logo-mobile-width;
        height: $logo-mobile-height;
        max-height: $logo-mobile-width;
        padding: 0;
        img {
            @extend .inner-image;
        }
    }

    .sell-btn {
        @extend .app-btn;
        padding: 0.6rem 2rem;
    }


    @media ( min-width: $desktop-min ) {
        padding: 0.6rem 2rem;
        .navbar-collapse {
            flex-basis: 100%;
            flex-grow: 1;
            right: 3rem;
        }

        .navbar-brand {
            width: $logo-desktop-width;
            height: $logo-desktop-height;
            max-height: $logo-desktop-width;
        }

        .sell-btn {
            padding: 0.6rem 3rem;
        }

    }
    
}

.headroom-wrapper {
    background-color: $light-gray !important;
}