//landing page styles

.banner-container {
    position:relative;
    width: 100%;
    background: $light-gray;
    margin: 0;
    img {
        @extend .inner-image;
    }

}

.Hero-container {
    margin: 0;
    width: 100%;
    .row {
        margin: 0;
    }
    .col-lg-6 {
        padding: 0;
    }
    .hero-context-container {
        width: 100%;
        padding: 2em 2em;
        text-align: center;
        @include flexjustifycontent(center);
        @include flexalignitems(center);
        @include flexdirection(column);

        .hero-image-container {
            position: relative;
            width: 60px;
            height: 60px;

            img {
                @extend .inner-image;
            }

            @media( min-width: $tablet-min ) {
                width: 100px;
                height: 100px;
            }
    
            @media( min-width: $desktop-min ) {
                width: 100px;
                height: 100px;
            }
        }

        .hero-subject {
            color: $white-color;
            font-size: 1.3rem;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0.8em 0 0 0;
        }

        .hero-statistics {
            color: $white-color;
            font-weight: bold;
            margin: 0.2em 0 0 0;
        }

        &.shipping-container {
            background-color: $light-orange;
        }

        &.buyer-container {
            background-color: $dark-orange;
        }
    }

}

.testimonials-container {
    margin: 0;
    width: 100%;
    padding: 0;

    .row-title {
        @extend .title-container;
    }

    .col-lg-6 {
        padding: 0;
    }

    .inner {
        margin: 0;
        width: 100%;
        height: 300px;
        max-height: 300px;
        @include flexjustifycontent(center);
        @include flexalignitems(center);
        @include flexdirection(row);
        padding-bottom: 1em;

        &.left {
            background: $light-gray;
        }

        &.right {
            background: $green-color;

            p {
                color: $white-color;
                width: 100%;
                text-align: center;
                font-weight: bold;
                padding: 0 2rem;
            }
        }

        .inner-element {
            width: 100%;
            text-align: center;

            &.testifier-profile-image {
                img {
                    border-radius: 50%;
                    width: 150px;
                    height: 150px;
                }
            }
        }

        h5 {
            margin: 0;
            &.testifier-name {
                color: $light-orange;
                em {
                    font-weight: normal;
                    font-style: initial;
                    text-transform: uppercase;
                } 
            }

            &.testifier-role {
                text-transform: uppercase;
                font-weight: bold;
            }
        }

    }
}

.get-container {
    margin: 0 0 3em 0;
    width: 100%;

    .row {
        margin: 0;
    }

    .row-title {
        @extend .title-container;
    }

    .image-representer-container {
        position: relative;
        width: 100%;
        max-height: 400px;
        margin-bottom: 1em;
         img {
             @extend .inner-image;
         }
    }

    .representer-btn-container {
        a {
            display: block;
            width: 100%;
            border: 2px solid #ccc;
            text-align: center;
            padding: 1em;
            margin-bottom: 2em;
            color: $green-color;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: bold;

            &:hover, &:focus {
                background-color: $green-color;
                color: $white-color;
                border: 2px solid $green-color;
            }
        }
    }


}

.image-c {
    position: relative;
    width: 100%;

    img {
        @extend .inner-image;
    }

    &.get_ban {
        @media (max-width: $mobile-min) {
            padding-top: 60.0625% !important;
        } 
    }

    &.could_be {
        @media (max-width: $mobile-min) {
            padding-top: 60.0625% !important;
        } 
    }
}

.text-container {
    width: 100%;
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    border: 1px solid;
    height: 100%;
    display: flex;
    @include flexalignitems(center);
    @include flexjustifycontent(center);
    @include flexdirection(column);
    background: $black-overlay;
    color: $white-color;

    h5 {
        margin: 0;
        
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }

    .start-btn {
        padding: 1rem 3rem;
        border: 1px solid $white-color;
        border-radius: 5px;
        color: $white-color;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 1.5em;

        @media( min-width: $tablet-min ) {
            padding: 1rem 9rem;
        }

        @media( min-width: $desktop-min ) {
            padding: 1rem 9rem;
        }
    }
}

.partners-container {
    margin: 0;
    width: 100%;
    .title {
        @extend .title-container;
    }
    .row {
        margin: 0;
        width: 100%;

        &.logo-container {
            padding: 1em 0 3em 0;

            @media( min-width: $tablet-min ) {
                padding: 5em 0 5em 0;
            }

            @media( min-width: $desktop-min ) {
                padding: 5em 0 5em 0;
            }
        }
    }

    a {
        width: 100%;
        @include flexbox;
        @include flexjustifycontent(center);
        @include flexalignitems(center);

        img {
            width: 130px;
            height: 130px;
            max-width: 100%;
            max-height: 130px;
            margin-bottom: 1em;

            &.last-child{
                margin-bottom: 0;
            }
        }

    }
}